@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700;800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sofia Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  outline: 0;
  border: 0;
}

.container {
  max-width: 1508px;
  margin: 0 auto;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1.18fr 1.18fr 1.18fr 1.18fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "sidebar header header header header" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main";
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "main main main main" "main main main main" "main main main main";
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

.sidebar {
  grid-area: sidebar;
  padding: 54px 0 0 58px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199.98px) {
  .sidebar {
    display: block;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 1199.98px) {
  .sidebar-img {
    display: none;
  }
}
.sidebar__heading {
  margin-top: 60px;
  font-size: 3.2rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 1199.98px) {
  .sidebar__heading {
    text-align: center;
    margin: 0 0 20px 0;
  }
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  row-gap: 18px;
}
@media (max-width: 1199.98px) {
  .sidebar__list {
    margin-top: 0;
    flex-direction: row;
    overflow-x: auto;
  }
}
.sidebar__link {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  border-radius: 8px;
  transition: background-color 0.4s;
}
@media (max-width: 1199.98px) {
  .sidebar__link {
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 1199.98px) {
  .sidebar__link-living {
    width: 150px;
  }
}
@media (max-width: 1199.98px) {
  .sidebar__link-new {
    width: 100px;
  }
}
@media (max-width: 991.98px) {
  .sidebar__link-new {
    margin-left: 0;
  }
}
.sidebar__link:hover {
  background-color: #ebebeb;
}
.sidebar__link-help {
  position: fixed;
  top: 593px;
  left: 58px;
}
@media (max-width: 1199.98px) {
  .sidebar__link-help {
    width: auto;
  }
}
@media (max-width: 991.98px) {
  .sidebar__link-help {
    left: 91px;
  }
}
@media (max-width: 767.98px) {
  .sidebar__link-help {
    left: 25px;
  }
}
@media (max-width: 575.98px) {
  .sidebar__link-help {
    left: -25px;
  }
}
@media (max-width: 1199.98px) {
  .sidebar__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.sidebar__item-icon {
  width: 22px;
  height: 22px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  height: 128px;
  padding: 0 54px 0 38px;
}
.header-logo__tablet {
  display: none;
}
@media (max-width: 991.98px) {
  .header-logo__tablet {
    display: block;
  }
}
@media (max-width: 1199.98px) {
  .header {
    padding: 0;
  }
}
.header-img {
  display: none;
}
@media (max-width: 1199.98px) {
  .header-img {
    display: block;
  }
}
.header-search {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .header-search__icon {
    display: none;
  }
}
.header-search__input {
  background-color: #fff;
  font-size: 1.8rem;
}
@media (max-width: 991.98px) {
  .header-search__input {
    width: 70%;
    font-size: 1.4rem;
  }
}
.header-search__input::placeholder {
  color: #000;
  opacity: 0.2;
  font-family: "Sofia Sans", sans-serif;
}
.header-bars {
  display: none;
}
@media (max-width: 991.98px) {
  .header-bars {
    display: block;
  }
}
.masonry-layout {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 188px;
  grid-auto-flow: dense;
  gap: 22px;
  padding: 0 54px 0 38px;
}
@media (max-width: 1199.98px) {
  .masonry-layout {
    padding: 0;
  }
}
@media (max-width: 991.98px) {
  .masonry-layout {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.masonry-item {
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .masonry-item__hide-tablet {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .masonry-item__hide-tablet {
    display: block;
  }
}
.masonry-item img {
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.masonry-item img:hover {
  transform: scale(1.1);
}
.masonry-item__big {
  grid-column: span 2;
}
@media (max-width: 991.98px) {
  .masonry-item__big-tablet {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 575.98px) {
  .masonry-item__big {
    grid-column: span 4;
  }
}
.masonry-item__tall {
  grid-row: span 2;
}
@media (max-width: 575.98px) {
  .masonry-item__tall {
    display: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .navbar {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
    position: fixed;
    padding: 50px 20px;
    background: #fff;
    transform: translateX(100%);
    inset: 0 0 -100% 60%;
    transition: transform 0.3s;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 0 -100% 50%;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  column-gap: 46px;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}
.navbar__link {
  position: relative;
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 8px 0;
}
.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #000000;
  transition: width 0.5s;
}
.navbar__link-decorate::after, .navbar__link:hover::after {
  width: 100%;
}
.navbar__actions {
  margin-left: 50px;
  display: flex;
  align-items: center;
  column-gap: 26px;
}
@media (max-width: 991.98px) {
  .navbar__actions {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  input[type=checkbox]:checked ~ .navbar {
    transform: translateX(0);
  }
  input[type=checkbox]:checked + .header__overlay {
    position: absolute;
    inset: 0 0 -100% 0;
    background-color: #9f9b9b;
    opacity: 0.4;
  }
}

/*# sourceMappingURL=main.css.map */
