@use "../abstracts";
@use "../base";

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 51px 54px 47px 38px;

  &-logo__tablet {
    display: none;
    @include abstracts.screen(lg) {
      display: block;
    }
  }

  @include abstracts.screen(xl) {
    padding: 20px 0 0 0;
  }

  &-img {
    display: none;
    @include abstracts.screen(xl) {
      display: block;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: auto;

    &__icon {
      @include abstracts.screen(xl) {
        display: none;
      }
    }

    &__input {
      background-color: #fff;
      font-size: 1.8rem;

      @include abstracts.screen(lg) {
        width: 70%;
        font-size: 1.4rem;
      }

      &::placeholder {
        color: #000;
        opacity: 0.2;
        font-family: "Sofia Sans", sans-serif;
      }
    }
  }

  &-bars {
    font-size: 2rem;
    display: none;

    @include abstracts.screen(lg) {
      display: block;
    }
  }

  &__overlay {
    @include abstracts.screen(lg) {
    }
  }
}
