@use "../abstracts";
@use "../base";

.masonry {
  &-layout {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 188px;
    grid-auto-flow: dense;
    gap: 22px;
    padding: 0 54px 0 38px;

    @include abstracts.screen(xl) {
      padding: 0;
    }

    @include abstracts.screen(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }

  &-item {
    border-radius: 16px;
    overflow: hidden;

    @include abstracts.screen(lg) {
      &__hide-tablet {
        display: none;
      }
    }

    @include abstracts.screen(sm) {
      &__hide-tablet {
        display: block;
      }
    }

    img {
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.2s linear;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__big {
      grid-column: span 2;
      @include abstracts.screen(lg) {
        &-tablet {
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }

      @include abstracts.screen(sm) {
        grid-column: span 4;
      }
    }

    &__tall {
      grid-row: span 2;
      @include abstracts.screen(sm) {
        display: none;
      }
    }
  }
}
